@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.welcome {
        .h1 {
            font-size: 64px;
        }
    }
    .header-contacts {
        font-size: 14px;
    }
    .callback {
        padding: 15% 0;
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .welcome {
        .h1 {
            font-size: 47px;
        }
    }
    .carousel-services-item {
        flex-direction: column;
    }
    .s-call {
        background-size: cover;
        &::before {
            width: 100%;
        }
    }
    .callback {
        padding: 10% 0;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .header-contacts {
        .phone-h {
            text-align: left;
            margin-left: 0.5vh;
        }
    }
    .callback {
        padding: 5% 0;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    body {
        font-size: 14px;
    }
    body.ishome .site-header .top-line {
        padding-top: 20px;
        .logo img {
            margin-left: 20px;
        }
    }
    .hamburger {
        top: 10px;
    }
    .flex-center {
        margin: 15vh auto;
    }
    .phone {
        display: none;
    }
    .header-composition {
        p {
            margin-top: 20px;
            margin-bottom: 8px;
        }
    }
    .welcome {
        p {
            margin-bottom: -5px;
            font-size: 10px;
            span {
                margin: 0 5px 0;
            }
        }
        .h1 {
            font-size: 32px;
        }
        strong {
            margin-top: 7px;
            font-size: 14px;
        }
    }

    .carousel-services-item-composition .h3 {
        font-size: 24px;
    }
    .carousel-services .owl-nav>div {
        &:hover {
            opacity: .4;
        }
        &:active {
            opacity: 1;
        }
    }
    .carousel-services-item-img {
        display: none;
    }

    .fotorama {
        &__arr-{
            &-prev, &-next {
                &::before {
                    display: none;
                }
            }
        }
    }

    .review-header {
        font-size: 24px;
    }
    .review-content .quotes {
        display: none;
    }
// ------------- Extension My-menu -------------

    .mm-panels > .mm-panel.mm-hasnavbar {
        padding-top: 10px;
    }
    .mm-listview > li > a{
        padding: 14px 14%;
    }
    .mm-navbar .mm-title img {
        margin: 10px 0 20px;
    }
// ------------- Extension My-menu -------------

}





/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
